.main {
    background: #EDEEF0;
    height: 100%;
    padding-bottom: 65px;
}
.app {
    background: #fff;
}

.section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
}

.usersList {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.usersCard {
    margin: 10px 30px;
}
.titleFriend {
    margin-left: 30px;
    margin-top: 0px;
}